@using FuncSharp
@model CodeInsight.Web.Models.PullRequest.PullRequestIndexViewModel

<div class="container">
    <form asp-controller="PullRequest", asp-action="Index" method="post">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="fromDate">Start</label>
                <input data-provide="datepicker" 
                       data-date-format="dd/mm/yyyy" 
                       class="form-control" 
                       id="fromDate" 
                       name="fromDate" 
                       value="@Model.Configuration.Interval.Start.ToString("dd/MM/yyyy", null)"/>
            </div>
            <div class="form-group col-md-4">
                <label for="toDate">End</label>
                <input data-provide="datepicker" 
                       data-date-format="dd/mm/yyyy" 
                       class="form-control" 
                       id="toDate" 
                       name="toDate" 
                       value="@Model.Configuration.Interval.End.ToString("dd/MM/yyyy", null)"/>
            </div>
            <div class="form-group col-md-2">
                <label class="invisible">I am hidden</label>
                <button type="submit" class="btn btn-primary form-control">Submit</button>
            </div>
        </div>
    </form>
    <div class="row">
        @foreach (var chart in Model.Charts)
        {
            <h2>@chart.Title</h2>
            <div class="card-columns cols-1">
                <div class="card">
                    <div class="card-body">
                        <canvas id="@chart.Id" width="800" height="800"></canvas>
                    </div>
                </div>
            </div>
        }
    </div>
    <h2>Individual Pull Requests (@Model.PullRequests.Count)</h2><br>
    <div class="row">
        <table>
            <thead>
            <th>Title</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>LifeTime (hours)</th>
            <th>Additions</th>
            <th>Deletions</th>
            <th>Author</th>
            </thead>
            <tbody>
                @foreach (var pr in Model.PullRequests.OrderByDescending(p => p.Lifetime.IsEmpty).ThenBy(p => p.CreatedAt))
                {
                    <tr>
                        <td>@pr.Title</td>
                        <td>@pr.CreatedAt.ToString()</td>
                        <td>@pr.UpdatedAt.ToString()</td>
                        <td>@pr.Lifetime.Map(t => t.TotalHours.ToString("N2")).GetOrElse("Open")</td>
                        <td>@pr.Additions</td>
                        <td>@pr.Deletions</td>
                        <td>@pr.AuthorId.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        @foreach (var chart in Model.Charts)
        {
            @Html.Raw(chart.JsChart.CreateChartCode(chart.Id));
        }
    </script>
}
