@using FuncSharp
@model CodeInsight.Web.Models.PullRequest.PullRequestIndexViewModel

<div class="container">
    <div class="row">
        <form asp-controller="PullRequest", asp-action="Index" method="post">
            <input name="fromIso8601" value="@Model.From.ToString()"/>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="row">
        @foreach (var chart in Model.Charts)
        {
            <h2>@chart.Title</h2>
            <div class="card-columns cols-1">
                <div class="card">
                    <div class="card-body">
                        <canvas id="@chart.Id" width="800" height="800"></canvas>
                    </div>
                </div>
            </div>
        }
    </div>
    <h2>Individual Pull Requests (@Model.PullRequests.Count)</h2><br>
    <div class="row">
        <table>
            <thead>
            <th>Title</th>
            <th>CreatedAt</th>
            <th>LifeTime (hours)</th>
            <th>Author</th>
            </thead>
            <tbody>
                @foreach (var pr in Model.PullRequests.OrderByDescending(p => p.Lifetime.IsEmpty).ThenBy(p => p.CreatedAt))
                {
                    <tr>
                        <td>@pr.Title</td>
                        <td>@pr.CreatedAt.ToString()</td>
                        <td>@pr.Lifetime.Map(t => t.TotalHours.ToString("N2")).GetOrElse("Open")</td>
                        <td>@pr.AuthorId.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        @foreach (var chart in Model.Charts)
        {
            @Html.Raw(chart.JsChart.CreateChartCode(chart.Id));
        }
    </script>
}
