@model PullRequestIndexViewModel

@{
    var chartId = "perAuthorsChart";
}

<div class="container">
    <div class="row">
        <h2>PR stats</h2>
        @* <p>@Model.Statistics.AverageDeletions</p> *@
        @* <p>@Model.Statistics.AverageAdditions</p> *@
        @* <p>@Model.Statistics.AverageLifeTime.Days</p> *@
        
        <div class="card-columns cols-1">
            <div class="card">
                <div class="card-body">
                    <canvas id="@chartId" width="800" height="800"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        @Html.Raw(Model.Chart.CreateChartCode(chartId));
    </script>
}
